name: Docker Test Image

run-name: ${{ github.actor }} is learning GitHub Actions

on:
  push:
    branches: ["main"]

jobs:
  build:
    name: Build job
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: action

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: "01-LandingPage/backend/README.md"
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: cdq73700/docker-test-actions:latest
