.Header {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  align-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  color: rgb(var(--foreground-rgb));
  background-color: rgba(var(--background-rgba));
  backdrop-filter: blur(3px);
}
