.Header {
  height: 3rem;
  padding: 0.75rem;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-side-menu-header-rgb));
}

.Body {
  height: 100%;
  width: 16rem;
  overflow-y: auto;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-side-menu-body-rgb));
}

.Container {
  padding: 0.75rem;
  overflow-y: auto;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-side-menu-body-rgb));
}
