version: '3.9'

services:
  nginx:
    build:
      context: .
      dockerfile: ./Dockerfile/Nginx.Dockerfile
    ports:
      - 8000:443
    volumes:
      - ./openssl/certs:/docker/certs
      - ./nginx/conf:/etc/nginx/conf.d
    tty: true
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile/Frontend.Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/docker/frontend
      - ./swagger/output:/docker/frontend/swagger
    environment:
      - ORIGIN=localhost:8000
      - BACKEND_NAME=backend
      - BACKEND_PORT=4000
    tty: true
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile/Backend.Dockerfile
    ports:
      - 4000:4000
    volumes:
      - ./backend:/docker/backend
      - ./swagger/output:/docker/backend/swagger
      - ./license/json:/docker/backend/license
    environment:
      - ORIGIN=localhost:8000
    tty: true
  swagger:
    build:
      context: .
      dockerfile: ./Dockerfile/Swagger.Dockerfile
    profiles: [ "dev" ]
    ports:
      - 30001:3001
    volumes:
      - ./swagger:/docker/swagger
    tty: true
  python:
    build:
      context: .
      dockerfile: ./Dockerfile/Python.Dockerfile
    profiles: [ "dev" ]
    volumes:
      - ./python:/docker/python/
      - ./license:/docker/python/license
    tty: true
  openssl:
    build:
      context: .
      dockerfile: ./Dockerfile/OpenSSL.Dockerfile
    profiles: [ "openssl" ]
    volumes:
      - ./openssl/certs:/docker/certs
