name: Landing Page Backend Image

run-name: ${{ github.actor }} is learning GitHub Actions

on: workflow_dispatch

jobs:
  deploy:
    name: Deploy job
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ARN }}
          aws-region: ap-northeast-1
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build, tag, and push image to Amazon ECR
        uses: docker/build-push-action@v5
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.AWS_ECR_REPO_NAME_BACKEND }}
          IMAGE_TAG: ${{ github.sha }}
        with:
          context: .
          file: ./01-LandingPage/Dockerfile/Production/Backend.Dockerfile
          push: true
          tags: $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG